* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.theme-icon {
        border: 5px solid #fff;
}

body {
    position: relative;

    &.black > * .theme-icon, &.black > * #portrait {
        border: 5px solid #fff;
    }

    &.pink > * .theme-icon, &.pink > * #portrait {
        border: 5px solid #81a5c2;
    }
}

canvas {
    background: #000;
    position: absolute;
}

#lazy-loaded-images {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#portrait {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("portrait_black.png");
    background-size: cover;
    border: 5px solid #fff;
}

#theme-icon-container {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10px;;
}

.theme-icon {
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &.click {
        opacity: 0.8
    }

    &:hover {
        transform: scale(1.3);
    }

    &#black {
        background-color: #000;
    }

    &#pink {
        background-color: #fcc5c0;
    }
}

#questionmark {
    display: inline-flex;
    background-image: url("questionmark.png");
}

#portfolio-container {
    margin: 10px;
}

#akeos {
    background-image: url("akeos.png");
    background-repeat: no-repeat;
    background-size: 47px auto;
    background-position-x: -7px;
}

#leejennings {
    background-image: url("leelobster.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 40px auto;
    background-position: center;
    background-position-y: 2px;
    background-position-x: -6px;
}
