block variables
doctype html
html
    head
        link(rel="stylesheet" href="/index.css")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon", href="")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        title ♡ zyarash's world! ♡
    body
        canvas(id="canvas", width="5000px" height="5000px")
        #main-container
            #portrait
            #portfolio-container
                #akeos.theme-icon
                #leejennings.theme-icon
        #theme-icon-container
            for theme in themes["themes"]
                div(id=theme class="theme-icon")
        #lazy-loaded-images
            img(src="portrait_black.png")
            img(src="portrait_pink.png")
            img(src="leelobster.png")
        script(src="index.js")
