* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  position: relative; }
  body.black > #theme-icon-container > .theme-icon {
    border: 5px solid #fff; }
  body.black > #main-container > #portrait {
    border: 5px solid #fff; }
  body.black > #main-container > #portfolio-container > .theme-icon {
    border: 5px solid #fff; }
  body.pink > #theme-icon-container > .theme-icon {
    border: 5px solid #81a5c2; }
  body.pink > #main-container > #portrait {
    border: 5px solid #81a5c2; }
  body.pink > #main-container > #portfolio-container > .theme-icon {
    border: 5px solid #81a5c2; }

canvas {
  background: #000;
  position: absolute; }

#lazy-loaded-images {
  display: none; }

#main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }

#portrait {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("portrait_black.png");
  background-size: cover; }

#theme-icon-container {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 10px; }

.theme-icon {
  display: inline-flex;
  margin: 0 10px 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center; }
  .theme-icon.click {
    opacity: 0.8; }
  .theme-icon:hover {
    transform: scale(1.3); }
  .theme-icon#black {
    background-color: #000; }
  .theme-icon#pink {
    background-color: #fcc5c0; }
  .theme-icon > p {
    font-size: 1.5em;
    user-select: none; }

#questionmark {
  display: inline-flex;
  background-image: url("questionmark.png"); }

#portfolio-container {
  margin: 10px; }

#insomniaep {
  background-color: #000; }

#leejennings {
  background-color: #fff; }

#leejenningsep {
  background-color: #00f; }
