/***
 * Zyara's World!
 * もしもし  ٩(♡ε♡)۶
 * InfoComponent.css
 */

.info-overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
}

.info-contain {
    border: 1px solid #eee;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3)) drop-shadow(0px 3px 2px rgba(0,0,0,0.5));
    width: 300px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: info-scroll-in 300ms linear forwards;
}

.info-close {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ccc;
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.2)) drop-shadow(0px 2px 1px rgba(0,0,0,0.4));
    position: absolute;
    text-align: center;
    margin-left: 340px;
    margin-top: -140px;
    cursor: pointer;
}

.info-close:hover {
    background: #bbb;
}

.info-close:after {
    content: "X";
    font-size: 10px;
}

@media (max-width: 800px) {
    .info-contain { width: 100px; height: 200px; font-size: 10px; }
    .info-close { margin-left: 140px; margin-top: -240px;  }
}
