/***
 * Zyara's World!
 * もしもし  ٩(♡ε♡)۶
 * Loading.css
 */

#content.loading {
    overflow: visible;
}

img#logo {
    width: 100%;
}

.loading-page {
    animation: fade-in-out 3000ms ease-in-out infinite alternate;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
