<div class='info-bar'>
    Hi! I'm wondering how you got here. You're probably wondering how you got here too. This
    little website is just a playground to keep my programming from getting too stale.
    <br>
    <br>
    <br>
    Credits & Junk 
    <hr>
    <a target='_blank'
       href='http://www.entypo.com/'>
            Entypo Icons
    </a>
    <br>
    <a target='_blank'
       href='http://jackshepardn7.deviantart.com/art/MASS-EFFECT-Andromeda-Initiative-643917595'>
            Mass Effect Logo
    </a>
</div>
